.imdbImage{
  border: 1px solid red;
}
.meenuIcon{
  border: 1px solid blue;
}


@media all and (min-width:1243px)  and (max-width:1446px){
   /* .imdbImage>img{
     width:40;
   } */
   .appbar{
    position: sticky;
   }
   .imdbPro{
    display: block;
    visibility: hidden;

   }
   .watchList{
    display: block;
    /* visibility: hidden; */
   } 
   .watchlistSignIn{
    width:100;
    font-size: 10;
   
   }
   .EN{
    /* visibility: hidden; */
   }
 

}

.watchlistSignIn{
    display: block;
    display: none;
}

/* .menu:hover{
  background-color:#ffffffB3;
} */
@media all and (min-width:1000px)  and (max-width:1241px){

    .imdbPro{
        display: block;
        visibility: hidden;
    
       }
       .menu{
        visibility: hidden;
       }
       
       .appBar{
        position: sticky;
        width:100px;
       }
       .mainBox{
        width: 100%;
       }

       .watchList{
        display: block;
        visibility: hidden;
       } 
       .watchlistSignIn{
        width:100;
        font-size: 10;
       
       }
       .EN{
        visibility: hidden;
       }
      .signIn{
        width:100px;
      }
    
}


@media all and (min-width:200px)  and (max-width:1000px){

    .imdbPro{
        display: block;
        visibility: hidden;
    
       }
       .appBar{
        position: sticky;
        width:100px;
       }
       /* .mainBox{
        width: 100%;
       } */

       .watchList{
        display: block;
        visibility: hidden;
       } 
       .watchlistSignIn{
        width:100;
        font-size: 10;
        margin-left: -20px;
       
       }
       .EN{
        visibility: hidden;
       }
      .signIn{
        width:100px;
        visibility: hidden;

      }
     
      .search{
        /* visibility: hidden */
        /* display: block; */
      }
      .searchBar{
        visibility: hidden;
      }

    }