.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.slick-prev:before,.slick-next:before{
  content:"!important";
}


.photo-gallary{
  background-color: rgb(212,211,207);
  width:"100%";
}